*{
box-sizing: border-box;
margin:0;
padding:0;
}


div{
    display: block;
    background-color: brown;
    font-size: 2rem;
    height: 50px;;
    width: 200px;
    outline:2px solid black;
    margin:20px;
}