*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}


div{
    display: inline-block;
    background-color: #606060;
    font-size: 2.2em;
    height: 80px;;
    width: 150px;
    outline: outset 2px solid;
    margin: 20px;
    text-align: center;
}