


#rgb{
    background-color: rgb(255, 99, 71);
    color: #313131;
}


#hex{
    background-color:#ff6347;
    color: black;
}

#hsl{
    background-color: hsl(9,100%, 64%);
    color: black;
}

#rgba{
    background-color: rgba(255,99,71, 0.5);
    color: black;
}


#hsla{
 background-color:hsla(9, 100%, 64%, 0.5);
}