* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}



.main{
    max-width: 600px;
    margin:100px auto;
    
    display: grid;
    /* grid-template-columns:2fr 2fr; */
    /* grid-template-columns: 20% 25% 30%; */
    /* grid-template-columns: 50% 50%; */
    /* grid-template-columns: 300px 400px; */
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-columns: 2fr 3fr 2fr;
    grid-gap:10px;

}


.item{
   
    border:1px solid black;
    padding:10px;
    border-radius: 10px;;
}

.item:nth-of-type(1){
    grid-row:1/4;
}




.item:nth-of-type(4){
    grid-column:2/4;
}

.item:nth-of-type(5){
    grid-column:2/4;
}