*{
    box-sizing: border-box;
    margin:0;
    padding:0;

}

.list{
    /* list-style-type: disc; */
    /* list-style-type:  square; */
    /* list-style-type: upper-roman; */
    /* list-style-type:url('sign.jpg'); */
    list-style-position: inside;
    /* list-style: circle inside url('sign.jpg'); */

    background-color: lightgreen;
    margin:10px;
    padding:10px;
}



.secondList{
    list-style-type:circle ;
    background-color:azure;
    padding:10px;
    margin:10px;

}





