

.item{
    background-color: black;
    width: 500px;;
    height: 300px;
    margin:100px auto;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px rgba(10, 10, 20, 0.3);
}

h1 {
    color:#fff;
    font-size: 3em;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    padding:20px;
    text-align: center;
}