*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}


.parent div{
display: block;
background-color: crimson;
color: white;;
/* text-align: CENTER; */
font-size: 1.5em;
margin:10PX;
padding:10px;
width: 150PX;
height: 50PX;;
border-radius: 10px;

}